/*-=Head=-*/
title {
    color: black;
}

/*-=Body=-*/

body {
    background-image: url('/images/nightsky.jpg');
    font-family: sans-serif;
    height: 125vh;
    margin: 0%;
    margin-top: 80px;
    padding: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

p {
    padding: 0;
    margin: 0;
}

/*-=Header*/
header {
    background-color: rgb(68, 0, 131);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    padding-top: 20px;
    padding-bottom: 0;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.headerfont {
    color: rgba(238, 238, 238, 0.644);
    margin-right: 426px;
    margin-top: 25px;
    margin-bottom: 20px;
}


/*-=Navbar=-*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  border: 0;
  list-style: none;
  line-height: 0;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  max-height: 20px;
}
#cssmenu {
  width: 100%;
  border-bottom: 10px solid #00a2ff;
  font-family: Raleway, sans-serif;
  line-height: 5;
}
#cssmenu ul {
  background-color:rgb( 68, 0, 131);
}
#cssmenu > ul > li {
  float: right;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 28px 45px 32px 45px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2ff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}

/*hover/active*/
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: ".";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background-color: #00a2ff;
  
}

.navbar{
    position: fixed;
    top: 0;
    background-color:rgb( 68, 0, 131);
    width: 100%;
    background-attachment: fixed;
    
}

.main {
    margin-top: 30px; 
  }



/*-=Containers=-*/
.container {
    width: 101%;
    height: 90%;
    margin: auto;
    padding: 5px;
    /*border:1px solid black;*/
}

.clearer {
    clear: both;
}

/*home.html - about.html*/
.column {
    width: 30%;
    height: 92%;
    float: left;
    background-color: rgba(151, 1, 135, 0.519);
    margin-left: 20px;
    margin-right: 20px;
}

.leftcolumn {
    width: 30%;
    height: 92%;
    float: left;
    background-color: rgba(151, 255, 135, 0.519);
    margin-left: 20px;
    margin-right: 20px;
}

.rightcolumn {
    width: 30%;
    height: 92%;
    float: left;
    background-color: rgba(151, 135, 135, 0.519);
    margin-left: 20px;
    margin-right: 20px;
}

/*projects.html*/

.pcontainer {
    width: 100%;
    height: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border:1px solid black;*/
}

.box {

    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-image: url(/images/screen3.png);
    width: 30%;
    height: 200px;


}

.leftbox {
    width: 30%;
    height: 200px;
    float: left;
    background-image: url(/images/screen3.png);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/images/screen3.png);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;

}

.rightbox {
    width: 30%;
    height: 200px;
    float: left;
    background-image: url(/images/screen3.png);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/images/screen3.png);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;

}

.projectbox {
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 8px;

}

.projectbox1 {
    width: 60%;
    height: 100%;
    float: left;
    border-radius: 8px;

}

.pdesc {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 88%;
    height: 88%;
    background-color: rgba(221, 221, 221, 0.555);
    border-radius: 8px;
}

.desc {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.0vw;
}

.p {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-size: 0.9vw;

}

.pul {
    list-style-type: \2022;
    color: white;
    font-size: 0.9vw;
}

.pil{
    background-repeat: no-repeat;
    background-position: 0px 50%;
    
}




.projectbtn {
    margin-left: 20px;
    margin-top: 0.5px;
    scroll-margin-bottom: 10px;
    width: 80px,  60%;
    height: 27px;
    border-radius: 8px;
    background-color: rgb(68, 0, 131);
    cursor: pointer;
}

.dropbtn {
    margin-left: 20px;
    margin-top: 0.5px;
    scroll-margin-bottom: 10px;
    width: 60%;
    height: 27px;
    border-radius: 8px;
    background-color: rgb(68, 0, 131);
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #7f32e2;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.8vw;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #9900ff;}
.dropdown:hover .dropdown-content {display: block;}
