body {
	background-image: url('nightsky.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 0% 0%;
	background-size: cover;
	background-color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightblue;
}
  
li {
	float: left;
}
  
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active {
	background-color: #4CAF50;
}
body {
    height: 125vh;
    background-image: url('nightsky.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
.transbox{
    background: url (newyork.jpg);
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 300px;
    margin-left: 300px;
    background color: #A4A0A0;
    border:1px solid black;
    filter: alpha(opacity=120);
    
}
.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #ffffff;
}

a:hover{
    background-color: lightgrey;
}
